.button {
  padding: 1rem 2rem;
  border: none;
  border-radius: var(--border-radius-large);
  background: var(--gradient-blue-reverse);
  color: var(--color-accent);
  font-size: 1.8rem;
  font-weight: bold;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-2px) scale(1.02);
  box-shadow: 0 6px 32px rgba(0, 0, 0, 0.18);
}
