.containerParent {
  padding: 2rem;
}

.mainContainer {
  backdrop-filter: blur(10px);
  display: grid;
  gap: 1rem;
  padding: 2rem;
  border-radius: var(--border-radius);
  background: var(--gradient-blue);
  box-shadow: var(--box-shadow);
}

.h1 {
  color: var(--color-accent);
  font-size: 2.8rem;
  text-align: center;
}
