.textInput {
  padding: 1rem 2rem;
  border-radius: var(--border-radius-large);
  border: none;
  background: var(--color-form-bg);
  color: var(--color-text);
  font-size: 1.6rem;
  box-shadow: var(--var-shadow);
}

.textInput::placeholder {
  color: var(--color-text-subtle);
}

.textInput:focus-visible {
  outline: 3px solid var(--color-primary);
  outline-offset: 2px;
}
