 .input-container {
   padding: 2rem;
 }

 .search-form {
   display: grid;
   gap: 1rem;
   padding: 2rem;
   border-radius: var(--border-radius);
   background: var(--color-form-bg);
   box-shadow: var(--box-shadow);
 }

